body {
  margin: 0;
}

/* ===== Header ===== */
header {
  display: flex;
  align-items: center;       
  justify-content: space-between;  
  background-color: #5c5c5c;
  height: 100px;
  padding: 0 20px;
}


.logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
}


.menu-container {
  flex: 1;                       
  display: flex;
  justify-content: center;
}

nav ol {
  list-style: none;
  display: flex;
  gap: 60px;
  margin: 0;
  padding: 0;
}

nav li {
  font-size: 1.2rem;
  font-weight: bold;

}



nav a{
    text-decoration: none;
    color: #000000;
}


.btn-login {
  padding: 10px 20px;
  background-color: #0077cc;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

footer {
  background-color: #685151;
  color: #fff;
  padding: 40px 20px 20px 20px;
}

.footer-contenido {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;

}


.footer-izquierda {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-logo {
  width: 120px;
  height: auto;
    margin-right: 15px;
}

.footer-redes a {
  margin-right: 15px;
  color: #000000;
  text-decoration: none;
}

.footer-derecha ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.footer-derecha a {
  color: #000000;
  text-decoration: none;
}



.velo {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(200, 200, 200, 0.525);
    z-index: 9;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background: white;
    padding: 25px 20px;
    z-index: 10;
}

